#map { height: 315px; max-width: 1000px;}

img {
    max-height: 90px;
}
body {
    background-color: #6E4D2E;
}
h4 {
    text-align: center;
    font-family: "Anton", sans-serif;
    color: #C0EFBF;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
} 
.p{
    color: #C0EFBF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
}
footer{
    color: #C0EFBF;
    font-family: "Anton", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 15px;
}

button {
    text-align: center;
    background-color: #C0EFBF;
    color: #6E4D2E;
    border-radius: 10px;
    padding: 10px 10px;
    min-width: 350px;
    font-size: 22px;
} 

